@import url("https://fonts.googleapis.com/css2?family=Metal+Mania&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kalam:wght@300&display=swap");

.container {
  width: 100vw;
  height: 100vh;
  background: #e8f0ff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.box {
  width: 300px;
  height: 300px;
  background: #96c;
}

body {
  margin: 0px;
  color: #273c2c;
  background-color: #dc9e82;
  font-family: "Kalam", cursive;
}

h1{
    font-size: 42px;
    color: #273c2c;
}

a{
    text-decoration: none;
    color: #dc9e82;
    font-weight: bold;
}

.navButton{
    background-color: #031a6b;
    text-decoration: none;
    font-size: large;
}