@import url("https://fonts.googleapis.com/css2?family=Metal+Mania&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kalam:wght@300&display=swap");

.container {
  width: 100vw;
  /* height: 100vh; */
  background: #e8f0ff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.box {
  border-radius: 75px;
  width: 500px;
  height: 300px;
  background: #273c2c;
  opacity: 0.8;
}

.lindo {
  border-radius: 200px;
  width: 400px;  
  height: 300px;
  box-shadow: 0 5px 10px rgba(184, 206, 239, 0.9);
}

body {
  margin: 0px;
  color: #273c2c;
  background-color: #dc9e82;
  font-family: "Kalam", cursive;
}

h1{
    font-size: 56px;
    color: #273c2c;
    text-align: center;
}

a{
    text-decoration: none;
    color: #dc9e82;
    font-weight: bold;
}

.navButton{
    border-radius: 25px;
    border: 3px solid #031a6b;
    background-color: #031a6b;
    text-decoration: none;
    font-size: large;
}

.navButton:hover{
  border: 3px solid #dc9e82;
}

p, ul{
  color: #e8f0ff;
  font-size: large;
  text-align: center;
}

h2{
  color: #e8f0ff;
  text-align: center;
}

ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.back:hover{
  background-color: #dc9e82;
  color: #273c2c;
}