@import url("https://fonts.googleapis.com/css2?family=Kanit&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@600&display=swap");
html {
  background: linear-gradient(140deg, #0088c5, #f2f0e6, #ff773a);
  background-size: 1000% 1000%;
  -webkit-animation: GradientBackground 30s ease infinite;
  -moz-animation: GradientBackground 30s ease infinite;
  animation: GradientBackground 30s ease infinite;
}

@-webkit-keyframes GradientBackground {
  0% {
    background-position: 0% 51%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 51%;
  }
}
@-moz-keyframes GradientBackground {
  0% {
    background-position: 0% 51%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 51%;
  }
}
@keyframes GradientBackground {
  0% {
    background-position: 0% 51%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 51%;
  }
}
body {
  color: #373737;
  background-color: #f2f0e6;
  font-family: "Titillium Web", sans-serif;
  box-shadow: 0px 0px 30px 1px gray;
  padding: 0px;
  max-height: 95vh;
}

h1 {
  font-family: "Kanit", sans-serif;
  font-size: 40pt;
  text-shadow: -2px 1px 4px gray;
  color: #0088c5;
}

form {
  margin-bottom: 0.8em;
}

button, a, .project-card {
  transition-duration: 0.4s;
}

a {
  color: #0088c5;
}

a:hover {
  color: #ff773a;
}

.container-format {
  background-color: #f2f0e6;
  margin-top: 0.8em;
  margin-bottom: 0.8em;
}

.top-contact-bar {
  background-color: #ff9657;
  border-radius: 0px 0px 30px 30px;
}

.top-contact-bar a, p {
  color: #373737;
  text-decoration: none;
}

.top-contact-bar a:hover {
  color: #f2f0e6;
}

.heart-3d {
  text-shadow: -2px 1px 4px gray;
}

.down-arrow {
  width: 100%;
  text-shadow: -2px 1px 4px gray;
  color: #ff773a;
  font-size: 20pt;
  text-align: end;
}

.content-block {
  margin-top: 10em;
  margin-bottom: 12em;
}

/* Project List */
.project-box {
  width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

.project-card {
  width: 6em;
  height: 6em;
  text-align: center;
  border-radius: 5px;
  padding-top: 0.4em;
  margin: 0.3em 0.5em;
  background-color: #0088c5;
  text-decoration: none;
  box-shadow: -2px 2px 3px 0px #373737;
  font-family: "Kanit", sans-serif;
  color: #373737;
}

.project-card:hover {
  background-color: #ff773a;
  box-shadow: inset -2px 2px 3px 0px #373737;
  color: #f2f0e6;
}

.disabled, .disabled:hover {
  background-color: lightgray;
  box-shadow: inset -2px 2px 3px 0px #373737;
  color: gray;
}

/* End of Project List */
/* STACK SHOWCASE STYLES */
.stack {
  width: 9%;
  margin: 0.3em 0.5em;
  cursor: pointer;
}

.stack-box {
  margin-top: 1em;
  margin-bottom: 2em;
}

/* END OF STACK SHOWCASE STYLES */
/* BIG PHOTO STYLES */
.photo-frame {
  border-radius: 0px 6px 0px 300px;
  overflow: hidden;
  margin-right: 0;
  padding-right: 0;
  max-height: 85%;
}

.my-photo {
  background-image: url("/img/eu.jpg");
  height: 30em;
  width: 100%;
}

/* FORM STYLES */
.form-box {
  padding: 0.7em;
  background-color: #ff9657;
  border-radius: 30px 5px 30px 5px;
}

.modal-link {
  text-decoration: none;
}

/* END OF FORM STYLES */
.page-footer {
  font-size: x-small;
  text-align: end;
  margin-bottom: 0.6em;
}

/* Bootstrap override */
.text-danger {
  color: #ac1e44 !important;
}

.btn-primary {
  background-color: #0088c5;
  border: 1px solid #0088c5;
}

.btn-primary:hover {
  background-color: #00aaf6;
  border: 1px solid #00aaf6;
}

/* End of Bootstrap override */
#colunm-right {
  margin-right: 0;
  padding-right: 0px;
  max-height: 90vh;
}

#colunm-left {
  overflow: scroll;
  max-height: 90vh;
}

/* Scroll Bar Config */
/* width */
::-webkit-scrollbar {
  width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f2f0e6;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ff773a;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #ff9657;
}

/* End of Scroll Bar Config */

/*# sourceMappingURL=styles.css.map */
